In [4]:
class User:
    def __init__(self,user_id):
        self.user_id = user_id
        
    def __repr__(self):
        return f"User ({self.user_id})"

def sort_notcompare():
    users = [User(23), User(3), User(88)]
    print(users)
    print(sorted(users, key=lambda u: u.user_id))

In [5]:
sort_notcompare()

[User (23), User (3), User (88)]
[User (3), User (23), User (88)]

In [12]:
from operator import attrgetter, itemgetter

In [8]:
users = [User(23), User(3), User(88)]
sorted(users, key=attrgetter('user_id'))

[User (3), User (23), User (88)]

In [16]:
rows = [
    {'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [10]:
from itertools import groupby

In [13]:
rows.sort(key=itemgetter('date'))
rows

[{'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

In [15]:
# 用之前，先排序
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print('--', i)

07/01/2012
-- {'address': '5412 N CLARK', 'date': '07/01/2012'}
-- {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
-- {'address': '5800 E 58TH', 'date': '07/02/2012'}
-- {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
-- {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
-- {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
-- {'address': '5148 N CLARK', 'date': '07/04/2012'}
-- {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [21]:
a = (x for x in range(10))
a

In [37]:
next(a, 'no more values')

'no more values'

In [38]:
addresses = [
    '5412 N CLARK',
    '5148 N CLARK',
    '5800 E 58TH',
    '2122 N CLARK'
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [39]:
from itertools import compress

In [41]:
more5 = [x > 5 for x in counts]
more5

[False, False, True, False, False, True, True, False]

In [42]:
list(compress(addresses, more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']